@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

/*.header {
	margin-left: 5%;
}
*/

.header, h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-align: center;
	margin: 30px;
}

.frame {
	margin-left: 10%;
}

/*Set navpages font features*/
.navbar a { 
	font-family:'Raleway', sans-serif !important; 
	font-size: 24px;
	margin-left: 15px;
	color: #A6ACAF;
}

.navbar span {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

/*.navbar .bg-primary {
	background-color: #000000;
}*/

/*Change navbar color/opacity*/
.navbar-custom { 
    background-color: #000000; 
    opacity: .95;
} 


/* Modify brand and text color */   
/* Change font colors */          
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
            color: White; 
            font-family: 'Raleway', sans-serif;
            font-size: 28px;
} 

.Project-frame {
	margin-left: 5%;
	margin-right: 5%;
}

.Project-frame, p {
	font-family: 'Raleway', sans-serif;
	font-size: .76em !important;
}

.row {
	clear:  " ";
	display: table;
	clear: both;
	overflow: scroll;
  	height: 100%;
  	/*border: solid 3px;*/
}

.column {
	float: left;
	width: 50%;
	/*border: solid 3px;*/
}

.column, p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.photo {
	border: solid 3px;
	border-radius: 5px;
 	cursor: pointer;
  	transition: 0.3s;
}

.photo:hover{
  /*opacity: 0.7;*/
  transform: scale(1.15);
  align-content: center;
}

.description {
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	text-align: center;
	vertical-align: center;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

/*All regular body text*/
body, p {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}